body.admin-body #universal-navigation-administration h2 {
    margin: 2em 0 1em 0;
}

body.admin-body #universal-navigation-administration table#current-navigation td.xml div.code {
    zoom:0.8;
}

body.admin-body #universal-navigation-administration table#current-navigation p.help-valid-characters {
    font-size:0.8em;
    margin:0 0 1em 0;
}

body.admin-body #universal-navigation-components h2 {
    margin: 2em 0 1em 0;
}

