/* default theme integration */
body.theme-default div#universal-navigation-main-navigation {
     position:relative;
     z-index:5;
     height:27px;
}

body.theme-default div#universal-navigation-main-navigation + div.ia-splitter {
     position:relative;
     z-index:4;
}

body.theme-default div#main {
    position:relative;
    z-index:4;
}


/* documentation theme integration */
body.theme-documentation div#header {
     border-bottom:0;
}

body.theme-documentation div#universal-navigation-main-navigation {
     position:relative;
     z-index:5;
     font-size:0; /* fighting the space below */
}

body.theme-documentation div#universal-navigation-main-navigation > div.universal-navigation {
     font-size:10pt;
}

body.theme-documentation div#main {
    position:relative;
    z-index:4;
}

body.theme-documentation div#universal-navigation-main-navigation .universal-navigation-style-topbar-confluence {
     border-bottom:3px solid #003366;
}

body.theme-documentation div#splitter {
    position:relative;
    z-index:4;
}


/* easyreader theme integration */
body.fixedwidth div#universal-navigation-main-navigation {
     position:relative;
     z-index:5;
}

body.fixedwidth div#main {
    position:relative;
    z-index:4;
}


/* no-flicker functionality */
div#header {
     margin-bottom:27px;
}

div#universal-navigation-main-navigation {
     display:none;
}

body.universal-navigation-main-navigation-ready div#header {
    margin-bottom:0;
}

body.universal-navigation-main-navigation-ready div#universal-navigation-main-navigation {
    display:block;
}

/* hide on login page */
body.login div#universal-navigation-main-navigation {
    display:none;
}
