div.universal-navigation-style-topbar-confluence {
    display: inline-block; /* create new block formatting context */
    width:100%;
}

div.universal-navigation-style-topbar-confluence ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

div.universal-navigation-style-topbar-confluence ul li {
    position:relative;
}

div.universal-navigation-style-topbar-confluence ul li .node-content {
    display:block;
    line-height:21px;
    padding:3px 10px;
}

div.universal-navigation-style-topbar-confluence ul li.active > .node-content,
div.universal-navigation-style-topbar-confluence ul li.has-active-descendant > .node-content {
    font-weight:bold;
}

div.universal-navigation-style-topbar-confluence ul li span.node-content {
    color:black;
}

div.universal-navigation-style-topbar-confluence ul li a.node-content {
    color:#326CA6;
    text-decoration:none;
}

div.universal-navigation-style-topbar-confluence > ul > li > span.node-content,
div.universal-navigation-style-topbar-confluence > ul > li > a.node-content {
    color:white;
}

div.universal-navigation-style-topbar-confluence ul ul li .node-content:hover {
    background-color:#F0F0F0;
}

div.universal-navigation-style-topbar-confluence > ul ul li.has-children > .node-content {
    background-image:url(images/style-topbar-confluence-has-children.png);
    background-repeat:no-repeat;
    background-position:right 8px;
    padding-right:15px;
}

div.universal-navigation-style-topbar-confluence > ul > li.open-left ul li > .node-content {
    padding-left:16px;
}

div.universal-navigation-style-topbar-confluence > ul > li.open-left ul li.has-children > .node-content {
    background-image:url(images/style-topbar-confluence-has-children-left.png);
    background-repeat:no-repeat;
    background-position:left 8px;
    padding-left:16px;
}

div.universal-navigation-style-topbar-confluence > ul {
    background-color:#6699CC;
    height:27px;
    max-height:27px;
}

div.universal-navigation-style-topbar-confluence > ul > li {
    float:left;
    border-right:1px solid #F0F0F0;
}

div.universal-navigation-style-topbar-confluence > ul ul {
    min-width:200px;
}

div.universal-navigation-style-topbar-confluence > ul > li:hover {
    background-color:#003366;
}

div.universal-navigation-style-topbar-confluence > ul li > ul {
    display:none;
}

div.universal-navigation-style-topbar-confluence > ul li:hover > ul {
    display:block;
    position:absolute;
    border:1px solid #6699CC;
    background-color:white;
}

div.universal-navigation-style-topbar-confluence > ul > li:hover > ul {
    top:100%;
    left:-1px;
    border-top:0;
}

div.universal-navigation-style-topbar-confluence > ul > li.open-left:hover > ul {
    top:100%;
    right:-1px;
    left:auto;
    border-top:0;
}

div.universal-navigation-style-topbar-confluence > ul ul li:hover > ul {
    top:-1px;
    left:100%;
}

div.universal-navigation-style-topbar-confluence > ul > li.open-left ul li:hover > ul {
    top:-1px;
    right:100%;
    left:auto;
}
