div.universal-navigation-style-topbar-basic {
    display: inline-block; /* create new block formatting context */
    width:100%;
}

div.universal-navigation-style-topbar-basic ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

div.universal-navigation-style-topbar-basic ul li {
    position:relative;
}

div.universal-navigation-style-topbar-basic ul li .node-content {
    display:block;
    line-height:21px;
    padding:3px 10px;
}

div.universal-navigation-style-topbar-basic ul li.active > .node-content,
div.universal-navigation-style-topbar-basic ul li.has-active-descendant > .node-content {
    font-weight:bold;
}

div.universal-navigation-style-topbar-basic ul li span.node-content {
    color:#666;
}

div.universal-navigation-style-topbar-basic ul li a.node-content {
    color:#444;
    text-decoration:none;
}

div.universal-navigation-style-topbar-basic ul ul li .node-content:hover {
    background-color:#EDEDED;
}


div.universal-navigation-style-topbar-basic > ul ul li.has-children > .node-content {
    background-image:url(images/style-topbar-basic-has-children.png);
    background-repeat:no-repeat;
    background-position:right 8px;
    padding-right:15px;
}

div.universal-navigation-style-topbar-basic > ul > li.open-left ul li > .node-content {
    padding-left:16px;
}

div.universal-navigation-style-topbar-basic > ul > li.open-left ul li.has-children > .node-content {
    background-image:url(images/style-topbar-basic-has-children-left.png);
    background-repeat:no-repeat;
    background-position:left 8px;
    padding-left:16px;
}

div.universal-navigation-style-topbar-basic > ul {
    background-image:url(images/style-topbar-basic-background.png);
    background-repeat:repeat-x;
    height:27px;
    max-height:27px;
}

div.universal-navigation-style-topbar-basic > ul > li {
    float:left;
    border-right:1px solid #888;
}

div.universal-navigation-style-topbar-basic > ul ul {
    min-width:200px;
}

div.universal-navigation-style-topbar-basic > ul ul li + li {
    border-top:1px solid #888;
}

div.universal-navigation-style-topbar-basic > ul > li:hover {
    background-image:url(images/style-topbar-basic-background.png);
    background-repeat:repeat-x;
    background-position:0 -27px;
}

div.universal-navigation-style-topbar-basic > ul li > ul {
    display:none;
}

div.universal-navigation-style-topbar-basic > ul li:hover > ul {
    display:block;
    position:absolute;
    border:1px solid #888;
    background-color:white;
}

div.universal-navigation-style-topbar-basic > ul > li:hover > ul {
    top:100%;
    left:-1px;
    border-top:0;
}

div.universal-navigation-style-topbar-basic > ul > li.open-left:hover > ul {
    top:100%;
    right:-1px;
    left:auto;
    border-top:0;
}

div.universal-navigation-style-topbar-basic > ul ul li:hover > ul {
    top:-1px;
    left:100%;
}

div.universal-navigation-style-topbar-basic > ul > li.open-left ul li:hover > ul {
    top:-1px;
    right:100%;
    left:auto;
}
